@import "/node_modules/weather-icons/css/weather-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-cover bg-no-repeat bg-center;
  background-image: url('./assets/background.jpg');
  background-size: cover; /* Cette propriété garantit que l'image couvre l'écran */
  background-position: center;
  background-attachment: fixed; /* Pour que l'image reste fixe lors du scroll */
}

/* Animation personnalisée pour un effet d'apparition douce */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

input::placeholder {
  @apply text-gray-400;
}

/* Styles pour le texte et le bouton */
.text-brown {
  color: #8B4513; /* Marron moyen */
}

.bg-overlay {
  @apply bg-white bg-opacity-60 backdrop-blur-md; /* Cadre plus opaque */
}

.bg-dark-blue {
  background-color: #003a91; /* Bleu foncé */
}

.hover\:bg-light-blue:hover {
  background-color: #BBDEFB; /* Bleu clair au survol */
}

.hover\:text-dark-blue:hover {
  color: #003a91; /* Texte bleu foncé au survol */
}